//JADE//CATEGORY//DESIGNBOARD//

legend Tools
button.btn.btn-success#enabled Enabled

label
	b Actions
button.btn#clearBoard
	i.icon-trash
button.btn#undo
	i.icon-undo

label
	b Features
button.btn#createFeature
	i.icon-plus
button.btn#modalConfigButton(disabled)
	i.icon-wrench

label
	b Brand Spots
button.btn#createIC
	i.icon-plus

label
	b Delete
button.btn#deleteElement(disabled)
	i.icon-minus

label
	b Image Map
button.btn(disabled)
	i.icon-plus

label
	b Position

label.position
	span.number#yposition 0
	span.number#divider :
	span.number#xposition 0