extend layout-page
block content

	div.container-fluid
		.row-fluid
		.span12
			.row-fluid
				.span6 First Row
					a(href="/category")
						div.hero-unit
								h1 Category
								p Edit this template-configuration object.
					a(href="/category")
						div.hero-unit
								h1 Left Nav
								p Edit this template-configuration object.
				.span6 Second Row
					a(href="/category")
						div.hero-unit
								h1 Ship Pro
								p Edit this template-configuration object.

	// display form errors in a custom modal window //

	//include modals/form-errors