@media only screen and (max-width:1260px) {
    #navbar {
        float: none;
        width: 400px;
    }
}

#carouselWrapper {
	width: 100%;
	height: 602px;
}
#carousel {
	width: 200%;
}
#director {
	width: 30%;
	height: 602px;
}
#design {
	width: 1247px;
	height: 525px;
}
#snaptarget {
	width: 1079px;
	height: 540px;
	background:#269;
	background-image: linear-gradient(white 2px, transparent 2px),
	linear-gradient(90deg, white 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size: 150px 150px, 150px 150px, 35px 35px, 35px 35px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
#leftNav {
	width: 168px;
	min-height: 400px;
}
.draggable {
	width: 16.6666666666%;
	height: 180px;
	background:
	linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
	linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
	linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
	linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
	linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
	linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
}